:root {
	--background-color: #303030;
	--highlight-background-color: #404040;
	--hover-background-color: #383838;
	--log-background: #2e2e2e;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	font-weight: lighter;

	background-color: var(--background-color);
	color: #ccc;
	overflow-y: hidden;
}

@keyframes border_lr {
	0% {
		border-bottom: 1px solid lightgray;
	}
	100% {
		border-bottom: 1px solid white;
	}
}
